#epistaxis-form {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  text-align: center;
  border: 1px solid #0074d9;
  padding: 5px;
}

#epistaxis-form * {
  box-sizing: border-box;
}

#epistaxis-form label, #epistaxis-form #print {
  color: #0074d9;
  background-color: white;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 15px;
  border-color: transparent;
  cursor: pointer;
  border: 1px solid #0074d9;
  margin-right: 3px;
  display: inline-block;
}

#epistaxis-form input[type="radio"] {
  display: none;
}

#epistaxis-form input[type="radio"]:checked + label, #epistaxis-form #print {
  background-color: #0074d9;
  color: white;
}

#epistaxis-form #print:disabled {
  opacity: .6;
  cursor: not-allowed;
}

#epistaxis-form .epistaxis-question {
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #0074d9;
}

#epistaxis-form p {
  margin: 3px 0 6px 0;
}

#epistaxis-form .instructions {
  font-size: 20px;
  margin-bottom: 10px;
}

#epistaxis-form img {
  max-width: 450px;
  margin: 15px auto;
  width: 100%;
}

#epistaxis-form .hidden {
  visibility: hidden;
}

#epistaxis-score {
  font-size: 20px;
  font-weight: bold;
}

@media print {
  #epistaxis-form label {
    display: none;
  }

  #epistaxis-form input[type="radio"]:checked + label {
    display: inline-block;
  }

  #epistaxis-form #print {
    display: none;
  }
}